<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Scorecard for Credit Risk Assessment</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="../../../static/js/functions.js" th:src="@{/js/functions.js}"></script>
    <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <link href="../../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(c_features)}">
        <!-- For the Mifos logo -->
<!--    <div class="row text-center">-->
<!--                <a href="https://mifos.org/"><img src="../../static/images/mifos_lg-logo.jpg" width="200" th:src="@{/images/mifos_lg-logo.jpg}"/></a>-->
<!--    </div>-->
    <!-- End mifos logo -->
        <p style="color: #777777; font-size: 12px;">Features</p>
        <div class="card">&nbsp;
        <h4 id="header2">List of Features</h4>
        <hr style="width: 100%; color: #666F73; height: 1px;" />
        <div class="two-col">
            <div class="col1">
                <input class="form-control" id="field1" type="text" style="width:200px; padding: 10px;" placeholder="Filter display by name/client..."/>
            </div>
            <div class="col2">
                <input class="form-control" id="field2" type="text" style="width:200px;"  placeholder="Find by name/mobile/client/externalId/..."/>
            </div>
            <div class="col3">
                <label><input type="checkbox" style="zoom:1.6" class="form-check-input" id="Check1"/>Show close</label>
            </div>
            <div id="test" class="col-sm-3">
                <a href="#" th:href="@{/c_features}" class="btn btn-primary">Import Features</a>
                <a href="#" th:href="@{/c_feature/new}" class="btn btn-primary">Create Feature</a>
            </div>
        </div>

        &nbsp;
            <hr style="width: 100%; color: #666F73; height: 1px;" />
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th id="features">Id</th>
                <th id="features">Feature</th>
                <th id="features">Value</th>
                <th id="features">Data</th>
                <th id="features">Category</th>
                <th id="features">Status</th>
                <th id="features">Get</th>
                <th id="features">Update</th>
<!--                <th id="features">Delete</th>-->
            </tr>
            </thead>
            <tr th:each="c_feature : ${c_features}" th:attr="onclick=|goTo('${c_feature.id}')|">
<!--                onclick="goTo('localhost:8233' + this.getElementsByTagName('td')[6].getElementsByTagName('a')[0].getAttribute('href'))"-->
<!--                "window.location.href='https://www.google.com';">-->
<!--                <div onclick="console.log('${c_feature.id}');">-->
                    <td th:text="${c_feature.id}"><a href="/c_feature/${c_feature.id}">Id</a></td>
                    <td th:text="${c_feature.characteristic}">Feature</td>
                    <td th:text="${c_feature.value}">Value</td>
                    <td th:text="${c_feature.data}">Data</td>
                    <td th:text="${c_feature.category}">Category</td>
                    <td th:text="${c_feature.status}">Status</td>
                    <td><a th:href="${ '/c_feature/' + c_feature.id}"><button type="submit" class="btn btn-primary">Get</button></a></td>
                    <td><a th:href="${'/c_feature/edit/' + c_feature.id}"><button type="submit" class="btn btn-primary">Update</button></a></td>
<!--                    <td><a th:href="${'/c_feature/delete/' + c_feature.id}"><button type="submit" class="btn btn-primary">Delete</button></a></td>-->

                <!--    </div>-->
            </tr>
        </table>
        </div>
    </div>
</div>
<!--For side navigation-->
<div id="mifos-reskin-side-nav" ng-scrollbar="" class="ng-isolate-scope" style="overflow: hidden;"><div class="ngsb-wrap" style="position: relative; overflow: hidden; max-width: 100%; height: 513px;"><div class="ngsb-container" ng-transclude="" style="position: relative; top: 0px; overflow: hidden;">
    <div class="left-nav ng-scope">
        <ul>
            <!-- <li>
                 <a class="black" href="views/help.html">
                     <i class="fa fa-keyboard-o"></i>
                     <span class="ng-binding">Keyboard Shortcuts</span>
                 </a>
             </li>
-->
            <li>
                <a class="black" href="https://www.google.com/">
                    <i class="fa fa-compass "></i>
                    <span class="ng-binding">Navigation</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/tasks.html">
                    <i class="fa fa-check "></i>
                    <span class="ng-binding">Checker Inbox &amp; Tasks</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/collection/collectionsheet.html">
                    <i class="fa fa-tasks "></i>
                    <span class="ng-binding">Collection sheet</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/collection/individualcollectionsheet.html">
                    <i class="fa fa-tasks "></i>
                    <span class="ng-binding">Individual Collection Sheet</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/accounting/freqposting.html">
                    <i class="fa fa-repeat "></i>
                    <span class="ng-binding">Frequent Postings</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/accounting/journalentry_posting.html">
                    <i class="fa fa-plus "></i>
                    <span class="ng-binding">Add Journal Entries</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/accounting/accounts_closure.html">
                    <i class="fa fa-folder "></i>
                    <span class="ng-binding">Closing Entries</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/accounting/accounting_coa.html">
                    <i class="fa fa-sitemap "></i>
                    <span class="ng-binding">Chart of Accounts</span>
                </a>
            </li>
            <li>
                <a class="black" href="views/notification/notifications.html">
                    <i class="fa fa-bell"></i>
                    <span class="ng-binding">Notifications</span>
                </a>
            </li>
            <li>
                <a class="black" href="views/clients/createclient.html">
                    <i class="fa fa-user "></i>+ <span class="ng-binding">Client</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/groups/creategroup.html">
                    <i class="fa fa-group "></i>+ <span class="ng-binding">Group</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/centers/createcenter.html">
                    <i class="fa fa-map-marker "></i>+ <span class="ng-binding">Center</span>
                </a>
            </li>

            <li>
                <a class="black" ng-click="helpf()" href="views/help.html">
                    <i class="fa fa-question-circle"></i>
                    <span class="ng-binding">Help</span>
                    <i class="fa fa-external-link"></i>
                </a>
            </li>

            <!-- newly added -->

        </ul>
    </div>
</div><div class="ngsb-scrollbar" style="position: absolute; display: block;" ng-show="showYScrollbar"><div class="ngsb-thumb-container"><div class="ngsb-thumb-pos" oncontextmenu="return false;" style="position: absolute; height: 467px; top: 0px;"><div class="ngsb-thumb" style="position: relative; line-height: 467px; top: 0px;"></div></div><div class="ngsb-track"></div></div></div></div></div>

&nbsp;
&nbsp;
<!--FOOTER-->
<div class="footer">
    <footer id="footer">
        <div id="footer-content"><a href="https://mifosforge.jira.com/browse/MIFOSX/component/11710/?selectedTab=com.atlassian.jira.jira-projects-plugin:component-changelog-panel"><p id="pfooter">Release Version: 19.05.RELEASE | Mifos X Release Date: 10/May/2019</p></a></div>
    </footer>
</div>
</body>
</html>