<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

   <title>Scorecard for Credit Risk Assessment</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    
    <div class="row text-center">
                <a href="https://mifos.org/"><img src="../../static/images/mifos_lg-logo.jpg" width="200" th:src="@{/images/mifos_lg-logo.jpg}"/></a>
            </div>
            &nbsp;
            &nbsp;
    <h2>User Information</h2>
    &nbsp;
    &nbsp;
        <div>
            <form class="form-horizontal">
            
               <div class="form-group">
                    <label class="col-sm-2 control-label">Characteristic:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${configuration.characteristic}">characteristic</p>
                    </div>
                </div>
               
               <div class="form-group">
                    <label class="col-sm-2 control-label">Product:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${configuration.product}">product</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category:</label>
                    <div class="col-sm-5">
                        <p class="form-control-static" th:text="${configuration.category}">category</p>
                    </div>
                </div>
                
                <div class="form-group">
                	<label class="col-sm-2 control-label">Score Range Colour:</label>
                	<div class="col-sm-5">
                		<p class="form-control-static" th:text="${configuration.value}">score range colour</p>
                	</div>
                </div>
                
                <div class="form-group">
                	<label class="col-sm-2 control-label">Range From:</label>
                	<div class="col-sm-5">
                		<p class="form-control-static" th:text="${configuration.fromrange}">range from</p>
                	</div>
                </div>
                
                
                <div class="form-group">
                	<label class="col-sm-2 control-label">To:</label>
                	<div class="col-sm-5">
                		<p class="form-control-static" th:text="${configuration.torange}">to</p>
                	</div>
                </div>
                
                
                
                 
               
               
            </form>
    </div>
    
</div>

</body>
</html>