<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Scorecard for Credit Risk Assessment</title>
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	<script src="../../../static/js/functions.js" th:src="@{/js/functions.js}"></script>
</head>

<body>
<div class="container">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->   
    <!-- th:action@{/product}  directs the form to post to the /product endpoint-->
    <!-- th:object${/product}  expression declares the model object to use for collecting the form data-->
  	
    <div>
        <form class="form-horizontal" th:object="${configuration}" th:action="@{/configuration}" method="post">
    
        
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            
          <div class="row text-center">
                <a href="https://mifos.org/"><img src="../../static/images/mifos_logo.jpg" width="200" th:src="@{/images/mifos_logo.jpg}"/></a>
            </div>
            &nbsp;
            &nbsp;
            
          	<div class="form-group">
          		<label class="col-sm-2 control-label">Product:</label>
          		<div class="col-sm-6">
          			<select class="form-control" th:field="*{product}">
          				<option value="Agriculture">Agriculture</option>
          				<option value="Personal">Personal</option>
          				<option value="Capital">Capital</option>
          				<option value="Ratio">Ratio</option>
          			</select>
          		</div>
          	</div>
          	
          	
          	
          	
          	
          	
          	
          	
          
          	<div class="form-group">
                <label class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-6">
                    <select class="form-control" th:field="*{category}">
                    	<option value="Individual">Individual</option>
                    	<option value="Organisation">Organisation</option>
                    	<option value="Country">Country</option>
                    	<option value="Credit History">Credit History</option>
                    	<option value="Loan">Loan</option>
                    	
                    </select>
                </div>
            </div>
            
            
            
            
            
            
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Characteristic:</label>
                <div class="col-sm-6">
                    <select class="form-control" th:field="*{characteristic}">
                    	<option value="Age">Age</option>
                    	<option value="Income">Income</option>
                    	<option value="Gender">Gender</option>
                    	</select>
                </div>
            </div>
            
           
           
           <div class="form-group">
           		<label class="col-sm-2 control-label">Score Range Colour:</label>
           			<div class="col-sm-2">
           				<select id='colour1' class="form-control" th:field="*{colour}" onclick="colourchange1()">
           					<option value=" ">Select Colour</option>
           					<option id="Green" value="Green">Green</option>
           					<option id="Amber" value="Amber">Amber</option>
           					<option id="Red" value="Red">Red</option>
           					
           				</select>
           			</div> 
           			
           </div>
           
           
           
          <div class="form-group">
           		<label class="col-sm-2 control-label" onclick="myFunction()">Range From:</label>
           			<div class="col-sm-1">
           				<select class="form-control"  th:field="*{fromrange}">         		
           					<option value="0">0</option>
           					<option value="1">1</option>
           					<option value="2">2</option>
           					<option value="3">3</option>
           					<option value="4">4</option>
           					<option value="5">5</option>
           					<option value="6">6</option>
           					<option value="7">7</option>
           					<option value="8">8</option>
           					<option value="9">9</option>
           					<option value="10">10</option>
           				</select>
           			</div> 
           		<label class="col-sm-2 control-label">To:</label>
           			<div class="col-sm-1">
           				<select class="form-control" th:field="*{torange}">
           					<option value="0">0</option>
           					<option value="1">1</option>
           					<option value="2">2</option>
           					<option value="3">3</option>
           					<option value="4">4</option>
           					<option value="5">5</option>
           					<option value="6">6</option>
           					<option value="7">7</option>
           					<option value="8">8</option>
           					<option value="9">9</option>
           					<option value="10">10</option>
           				</select>
           			</div> 
           			
           			<label class="col-sm-2 control-label">Value:</label>
           			<!-- For selecting the colour -->
           			<div class="col-sm-2">
           				<input type="text" id='value-label-1' class="form-control" th:field="*{value}"/>
           			</div>
           			
           			
           </div>
           
          <div class="form-group">
           		<label class="col-sm-2 control-label">From:</label>
           			<div class="col-sm-1">
           				<select class="form-control" th:field="*{fromrange}">
           					<option value="0">0</option>
           					<option value="1">1</option>
           					<option value="2">2</option>
           					<option value="3">3</option>
           					<option value="4">4</option>
           					<option value="5">5</option>
           					<option value="6">6</option>
           					<option value="7">7</option>
           					<option value="8">8</option>
           					<option value="9">9</option>
           					<option value="10">10</option>
           				</select>
           			</div> 
           		<label class="col-sm-2 control-label">To:</label>
           			<div class="col-sm-1">
           				<select class="form-control" th:field="*{torange}">
           					<option value="0">0</option>
           					<option value="1">1</option>
           					<option value="2">2</option>
           					<option value="3">3</option>
           					<option value="4">4</option>
           					<option value="5">5</option>
           					<option value="6">6</option>
           					<option value="7">7</option>
           					<option value="8">8</option>
           					<option value="9">9</option>
           					<option value="10">10</option>
           				</select>
           			</div> 
           			<label class="col-sm-2 control-label">Value:</label>
           			<div class="col-sm-2">
           				<input type="text"  id='value-label-2' class="form-control" th:field="*{value}"/>
           			</div>
           			
           			
           </div>
           
           <div class="form-group">
           		<label class="col-sm-2 control-label">From:</label>
           			<div class="col-sm-1">
           				<select class="form-control" th:field="*{fromrange}">
           					<option value="0">0</option>
           					<option value="1">1</option>
           					<option value="2">2</option>
           					<option value="3">3</option>
           					<option value="4">4</option>
           					<option value="5">5</option>
           					<option value="6">6</option>
           					<option value="7">7</option>
           					<option value="8">8</option>
           					<option value="9">9</option>
           					<option value="10">10</option>
           				</select>
           			</div> 
           		<label class="col-sm-2 control-label">To:</label>
           			<div class="col-sm-1">
           				<select class="form-control" th:field="*{torange}">
           					<option value="0">0</option>
           					<option value="1">1</option>
           					<option value="2">2</option>
           					<option value="3">3</option>
           					<option value="4">4</option>
           					<option value="5">5</option>
           					<option value="6">6</option>
           					<option value="7">7</option>
           					<option value="8">8</option>
           					<option value="9">9</option>
           					<option value="10">10</option>
           				</select>
           			</div> 
           		<label class="col-sm-2 control-label">Value:</label>
           		<div class="col-sm-2">
           				<input type="text" id='value-label-3' class="form-control" th:field="*{value}"/>
           			</div>
           </div>




			<div class="row">
				<button type="reset" class="btn btn-light">Cancel</button>
				&nbsp;<button type="submit" onClick="conf()" class="btn btn-primary">Submit</button>
			</div>

			<div class="footer">
				<footer id="footer">
					<div id="footer-content"><a href="https://mifosforge.jira.com/browse/MIFOSX/component/11710/?selectedTab=com.atlassian.jira.jira-projects-plugin:component-changelog-panel"><p id="pfooter">Release Version: 19.05.RELEASE | Mifos X Release Date: 10/May/2019</p></a></div>
				</footer>
			</div>



            
                
        </form>
    </div>
    <!--  For another database table -->
    	
    
   
    
</div>

</body>
</html>
