<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

   <title>Scorecard for Credit Risk Assessment</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    
    <!-- Java Script for popup message -->
    <script type="text/javascript">
function conf()
{
var con=confirm("Do you want to submit for sure?");
}
</script>
    
</head>

<body>
<div class="container">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    
    <!-- th:action@{/product}  directs the form to post to the /product endpoint-->
    <!-- th:object${/product}  expression declares the model object to use for collecting the form data-->
  	
    <div>
        <form class="form-horizontal" th:object="${configuration}" th:action="@{/configuration}" method="post">
    
        
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            
          <div class="row text-center">
                <img src="../../static/images/mifos_logo.jpg" width="200" th:src="@{/images/mifos_logo.jpg}"/>
            </div>
            &nbsp;
            &nbsp;
            
          	<div class="form-group">
          		<label class="col-sm-2 control-label">Product:</label>
          		<div class="col-sm-5">
          			<select class="form-control" th:field="*{product}">
          				<option value="Agriculture">Agriculture</option>
          				<option value="Personal">Personal</option>
          				<option value="Capital">Capital</option>
          				<option value="Ratio">Ratio</option>
          			</select>
          		</div>
          	</div>
          	
          	
          	
          	
          	
          	
          	
          	
          
          	<div class="form-group">
                <label class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-5">
                    <select class="form-control" th:field="*{category}">
                    	<option value="Individual">Individual</option>
                    	<option value="Organisation">Organisation</option>
                    	<option value="Country">Country</option>
                    	<option value="Credit History">Credit History</option>
                    	<option value="Loan">Loan</option>
                    	
                    </select>
                </div>
            </div>
            
            
            
            
            
            
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Characteristic:</label>
                <div class="col-sm-5">
                    <select class="form-control" th:field="*{characteristic}">
                    	<option value="Age">Age</option>
                    	<option value="Income">Income</option>
                    	<option value="Gender">Gender</option>
                    	</select>
                </div>
            </div>
            
            <div class="form-group">
            	<label class="col-sm-2 control-label">Score Range:</label>
            </div>
            
          
            <div class="form-group">
                <label class="col-sm-2 control-label">Green:</label>
                <div class="col-sm-5">
                    <input type="number"  class="form-control" th:field="*{green}"/> 
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Amber:</label>
                <div class="col-sm-5">
                     <input type="number" class="form-control" th:field="*{amber}"/> 
                </div>
            </div>
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Red:</label>
                <div class="col-sm-5">
                     <input type="number" class="form-control" th:field="*{red}"/> 
                </div>
            </div>
            
            
           
            
            
            <div class="row">
                <button type="submit" onClick="conf()" class="btn btn-primary">Add</button>
            </div> 
            
                
        </form>
    </div>
    <!--  For another database table -->
    	
    
   
    
</div>

</body>
</html>
