<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Scorecard for Credit Risk Assessment</title>
	<link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	<script src="../../../static/js/functions.js" th:src="@{/js/functions.js}"></script>
	<script src="../../../static/js/configuration.js" th:src="@{/js/configuration.js}"></script>
	<script type="text/javascript" src="../../../static/js/details.json" th:src="@{/js/details.json}"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>
<div class="container">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->   
    <!-- th:action@{/product}  directs the form to post to the /product endpoint-->
    <!-- th:object${/product}  expression declares the model object to use for collecting the form data-->
  	
    <div>
        <form class="form-horizontal" th:object="${configuration}" th:action="@{/configuration}" method="post">
    
        
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            
<!--          <div class="row text-center">-->
<!--                <a href="https://mifos.org/"><img src="../../static/images/mifos_logo.jpg" width="200" th:src="@{/images/mifos_logo.jpg}"/></a>-->
<!--            </div>-->
            &nbsp;
            &nbsp;<p style="color: #4F99ED; font-size: 12px; display: inline;">Create Configuration Screen /</p><p style="color: #777777; font-size: 12px; display: inline;"> Create Configuration</p>
			<div class="card">
				<h2 id="header">Create Configuration</h2>
            
          	<div class="form-group">
          		<label class="col-sm-2 control-label">Product:</label>
          		<div class="col-sm-3">
          			<select class="form-control" id="product" th:field="*{product}"></select>
          		</div>
          	</div>

          	<div class="form-group">
                <label class="col-sm-2 control-label">Category:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="category" th:field="*{category}"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Characteristic:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="characteristic" th:field="*{characteristic}"></select>
                </div>
            </div>

           <div class="form-group">
           		<label class="col-sm-2 control-label">Score Range Colour:</label>
           			<div class="col-sm-2">
           				<select id='colour1' class="form-control" th:field="*{colour}" onclick="colourchange1()">
           					<option value=" ">Select Colour</option>
           					<option id="Green" value="Green">Green</option>
           					<option id="Amber" value="Amber">Amber</option>
           					<option id="Red" value="Red">Red</option>
           				</select>
           			</div> 
           			
           </div>

          <div class="form-group">
           		<label class="col-sm-2 control-label">Range From:</label>
           			<div class="col-sm-1">
           				<select class="form-control" id="from1" th:field="*{fromrange}"></select>
           			</div> 
           		<label class="col-sm-2 control-label">To:</label>
           			<div class="col-sm-1">
           				<select class="form-control" id="to1" th:field="*{torange}"></select>
           			</div> 
           			
           			<label class="col-sm-2 control-label">Value:</label>
           			<!-- For selecting the colour -->
           			<div class="col-sm-1">
           				<input type="text" id='value-label-1' class="form-control" th:field="*{value}"/>
           			</div>
           </div>
           



			<div class="form-group">
           		<label class="col-sm-2 control-label">From:</label>
           			<div class="col-sm-1">
           				<select class="form-control" id="from2" th:field="*{fromrange}"></select>
           			</div> 
           		<label class="col-sm-2 control-label">To:</label>
           			<div class="col-sm-1">
           				<select class="form-control" id="to2" th:field="*{torange}">
           				</select>
           			</div> 
           			<label class="col-sm-2 control-label">Value:</label>
					<!-- For Selecting the colour-->
           			<div class="col-sm-1">
           				<input type="text"  id='value-label-2' class="form-control" th:field="*{value}"/>
           			</div>
			</div>






           <div class="form-group">
           		<label class="col-sm-2 control-label">From:</label>
           			<div class="col-sm-1">
           				<select class="form-control" id="from3" th:field="*{fromrange}"></select>
           			</div> 
           		<label class="col-sm-2 control-label">To:</label>
           			<div class="col-sm-1">
           				<select class="form-control" id="to3" th:field="*{torange}"></select>
           			</div> 
           		<label class="col-sm-2 control-label">Value:</label>
			   	<!-- For selecting the colour -->
           		<div class="col-sm-1">
           				<input type="text" id='value-label-3' class="form-control" th:field="*{value}"/>
           			</div>
           </div>




			<div class="row">
				<button type="submit" onClick="conf()" class="btn btn-primary" id="button">Submit</button>
                <button type="reset" class="btn btn-light" id="button">Cancel</button>
			</div>

			<div class="footer">
				<footer id="footer">
					<div id="footer-content"><a href="https://mifosforge.jira.com/browse/MIFOSX/component/11710/?selectedTab=com.atlassian.jira.jira-projects-plugin:component-changelog-panel"><p id="pfooter">Release Version: 19.05.RELEASE | Mifos X Release Date: 10/May/2019</p></a></div>
				</footer>
			</div>
            </div>
        </form>
    </div>
    <!--  For another database table -->
</div>
<!--For side navigation-->
<div id="mifos-reskin-side-nav" ng-scrollbar="" class="ng-isolate-scope" style="overflow: hidden;"><div class="ngsb-wrap" style="position: relative; overflow: hidden; max-width: 100%; height: 513px;"><div class="ngsb-container" ng-transclude="" style="position: relative; top: 0px; overflow: hidden;">
    <div class="left-nav ng-scope">
        <ul>
            <!-- <li>
                 <a class="black" href="views/help.html">
                     <i class="fa fa-keyboard-o"></i>
                     <span class="ng-binding">Keyboard Shortcuts</span>
                 </a>
             </li>
-->
            <li>
                <a class="black" href="https://www.google.com/">
                    <i class="fa fa-compass "></i>
                    <span class="ng-binding">Navigation</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/tasks.html">
                    <i class="fa fa-check "></i>
                    <span class="ng-binding">Checker Inbox &amp; Tasks</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/collection/collectionsheet.html">
                    <i class="fa fa-tasks "></i>
                    <span class="ng-binding">Collection sheet</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/collection/individualcollectionsheet.html">
                    <i class="fa fa-tasks "></i>
                    <span class="ng-binding">Individual Collection Sheet</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/accounting/freqposting.html">
                    <i class="fa fa-repeat "></i>
                    <span class="ng-binding">Frequent Postings</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/accounting/journalentry_posting.html">
                    <i class="fa fa-plus "></i>
                    <span class="ng-binding">Add Journal Entries</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/accounting/accounts_closure.html">
                    <i class="fa fa-folder "></i>
                    <span class="ng-binding">Closing Entries</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/accounting/accounting_coa.html">
                    <i class="fa fa-sitemap "></i>
                    <span class="ng-binding">Chart of Accounts</span>
                </a>
            </li>
            <li>
                <a class="black" href="views/notification/notifications.html">
                    <i class="fa fa-bell"></i>
                    <span class="ng-binding">Notifications</span>
                </a>
            </li>
            <li>
                <a class="black" href="views/clients/createclient.html">
                    <i class="fa fa-user "></i>+ <span class="ng-binding">Client</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/groups/creategroup.html">
                    <i class="fa fa-group "></i>+ <span class="ng-binding">Group</span>
                </a>
            </li>

            <li>
                <a class="black" href="views/centers/createcenter.html">
                    <i class="fa fa-map-marker "></i>+ <span class="ng-binding">Center</span>
                </a>
            </li>

            <li>
                <a class="black" ng-click="helpf()" href="views/help.html">
                    <i class="fa fa-question-circle"></i>
                    <span class="ng-binding">Help</span>
                    <i class="fa fa-external-link"></i>
                </a>
            </li>

            <!-- newly added -->

        </ul>
    </div>
</div><div class="ngsb-scrollbar" style="position: absolute; display: block;" ng-show="showYScrollbar"><div class="ngsb-thumb-container"><div class="ngsb-thumb-pos" oncontextmenu="return false;" style="position: absolute; height: 467px; top: 0px;"><div class="ngsb-thumb" style="position: relative; line-height: 467px; top: 0px;"></div></div><div class="ngsb-track"></div></div></div></div></div>


</body>
</html>
