<!DOCTYPE html>
<html>
<head lang="en">
    <title>Scorecard for Credit Risk Assessment</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
  
  
    <div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>


<div class="row text-center">
                <a href="https://mifos.org/"><img src="../../static/images/mifos_logo.jpg" width="200" th:src="@{/images/mifos_logo.jpg}"/></a>
            </div>


<div class="footer">
            <footer id="footer">
            <div id="footer-content"><a href="https://mifosforge.jira.com/browse/MIFOSX/component/11710/?selectedTab=com.atlassian.jira.jira-projects-plugin:component-changelog-panel"><p>Release Version: 19.05.RELEASE | Mifos X Release Date: 10/May/2019</p></a></div>
            </footer>
</div>


</body>
</html>
