<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="icon" type="image/png" src="../../static/images/mifos-logo-flat.png" th:src="@{/images/mifos-logo-flat.png}"/>

    <title>Scorecard for Credit Risk Assessment</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
  
  
    <div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>



<!--<div class="row text-center">-->
<!--                <a href="https://mifos.org/"><img src="../../static/images/mifos_lg-logo.jpg" width="200" th:src="@{/images/mifos_lg-logo.jpg}"/></a>-->
<!--            </div>-->
<div class="content-container ng-scope">
<div class="card well ng-scope" id="expertsearch" data-ng-controller="ExpertSearchController">
    <h3 class="paddedleft">
        <strong class="ng-binding">Welcome, mifos</strong>
        <div class="btn-group pull-right">
            <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" ng-model="dashModel" btn-radio="'dashboard'">
                <i class="fa fa-home">

                </i>
                &nbsp;&nbsp;Home
            </label>
            <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" ng-click="switch()" ng-model="dashModel" btn-radio="'rich-dashboard'">
                <i class="fa fa-tachometer">

                </i>
                &nbsp;&nbsp;Dashboard
            </label>
        </div>
    </h3>
    <hr/>
    <input id="expert" type="text" data-ng-model="formData.search" placeholder="Search activities" class="col-md-4 form-control ng-pristine ng-valid ng-empty ng-touched" typeahead-on-select="search()" ng-autofocus="true" uib-typeahead="param as param for param in searchParams | filter:$viewValue | limitTo:8" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-98-6993"/>
    <div id="home" class="row">
        <div class="col-md-8 ng-binding">
            <h3 class="ng-binding">You can navigate your way through MifosX using: </h3>
            <i class="fa fa-arrow-left"></i>
            the shortcuts to the left &nbsp;&nbsp;
            <i class="fa fa-arrow-up"></i>
            the menu at the top &nbsp;&nbsp;
            <i class="fa fa-arrow-up top-right"></i>
            the search tool at the top right
        </div>
        <div class="col-md-6 col-md-offset-3">
            <img src="../../static/images/mifos_lg-logo.jpg" width="500" th:src="@{/images/mifos_lg-logo.jpg}" alt="MifosX" class="img-responsive ng-scope"/>
        </div>
    </div>
</div>
</div>
    <!--For side navigation-->
    <div id="mifos-reskin-side-nav" ng-scrollbar="" class="ng-isolate-scope" style="overflow: hidden;"><div class="ngsb-wrap" style="position: relative; overflow: hidden; max-width: 100%; height: 513px;"><div class="ngsb-container" ng-transclude="" style="position: relative; top: 0px; overflow: hidden;">
        <div class="left-nav ng-scope">
            <ul>
                <!-- <li>
                     <a class="black" href="views/help.html">
                         <i class="fa fa-keyboard-o"></i>
                         <span class="ng-binding">Keyboard Shortcuts</span>
                     </a>
                 </li>
    -->
                <li>
                    <a class="black" href="https://www.google.com/">
                        <i class="fa fa-compass "></i>
                        <span class="ng-binding">Navigation</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/tasks.html">
                        <i class="fa fa-check "></i>
                        <span class="ng-binding">Checker Inbox &amp; Tasks</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/collection/collectionsheet.html">
                        <i class="fa fa-tasks "></i>
                        <span class="ng-binding">Collection sheet</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/collection/individualcollectionsheet.html">
                        <i class="fa fa-tasks "></i>
                        <span class="ng-binding">Individual Collection Sheet</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/accounting/freqposting.html">
                        <i class="fa fa-repeat "></i>
                        <span class="ng-binding">Frequent Postings</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/accounting/journalentry_posting.html">
                        <i class="fa fa-plus "></i>
                        <span class="ng-binding">Add Journal Entries</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/accounting/accounts_closure.html">
                        <i class="fa fa-folder "></i>
                        <span class="ng-binding">Closing Entries</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/accounting/accounting_coa.html">
                        <i class="fa fa-sitemap "></i>
                        <span class="ng-binding">Chart of Accounts</span>
                    </a>
                </li>
                <li>
                    <a class="black" href="views/notification/notifications.html">
                        <i class="fa fa-bell"></i>
                        <span class="ng-binding">Notifications</span>
                    </a>
                </li>
                <li>
                    <a class="black" href="views/clients/createclient.html">
                        <i class="fa fa-user "></i>+ <span class="ng-binding">Client</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/groups/creategroup.html">
                        <i class="fa fa-group "></i>+ <span class="ng-binding">Group</span>
                    </a>
                </li>

                <li>
                    <a class="black" href="views/centers/createcenter.html">
                        <i class="fa fa-map-marker "></i>+ <span class="ng-binding">Center</span>
                    </a>
                </li>

                <li>
                    <a class="black" ng-click="helpf()" href="views/help.html">
                        <i class="fa fa-question-circle"></i>
                        <span class="ng-binding">Help</span>
                        <i class="fa fa-external-link"></i>
                    </a>
                </li>

                <!-- newly added -->

            </ul>
        </div>
    </div><div class="ngsb-scrollbar" style="position: absolute; display: block;" ng-show="showYScrollbar"><div class="ngsb-thumb-container"><div class="ngsb-thumb-pos" oncontextmenu="return false;" style="position: absolute; height: 467px; top: 0px;"><div class="ngsb-thumb" style="position: relative; line-height: 467px; top: 0px;"></div></div><div class="ngsb-track"></div></div></div></div></div>



<div class="footer">
            <footer id="footer">
            <div id="footer-content"><a href="https://mifosforge.jira.com/browse/MIFOSX/component/11710/?selectedTab=com.atlassian.jira.jira-projects-plugin:component-changelog-panel"><p>Release Version: 19.05.RELEASE | Mifos X Release Date: 10/May/2019</p></a></div>
            </footer>
</div>


</body>
</html>
